@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border outline-none;
  }

  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    @apply min-h-screen;
    scroll-behavior: smooth;
  }

  body {
    @apply min-h-screen w-screen overflow-x-hidden scrollbar
    scrollbar-w-2.5 scrollbar-thumb-[#463966] scrollbar-track-[#241127] scrollbar-thumb-rounded-full;
  }

  #root {
    @apply flex flex-col min-h-screen;
  }

}
